# @see http://dev.mysql.com/doc/mysql/en/server-system-variables.html
[mysqld]
{% for key, value in mysql.settings.mysqld.iteritems() | sort %}
{{ key }} = {{ value }}
{% endfor %}



{% for key, value in mysql.settings.innodb.iteritems() | sort %}
{{ key }} = {{ value }}
{% endfor %}
